.whole {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(41, 41, 57);
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.body {
    flex: 1;
    display: flex;
   flex-direction: column;
}

.body1 {
    display: flex;
    background-color: rgb(41, 41, 57);
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#body1pic {
    height: 220px;
    width: 250px;
}

ul {
   list-style-type: none; 
   display: flex;
   gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    size: 20px;
}